@mixin generateUtilClasses {
  $properties: (
    'margin': m,
    'padding': p,
  );
  $sides: (
    'top': t,
    'right': r,
    'bottom': b,
    'left': l,
  );
  @for $size from 0 through 20 {
    @if (($size <= 10) or ($size % 2 == 0)) {
      @each $property, $propertyShort in $properties {
        .#{$propertyShort}-#{$size * 5} {
          #{$property}: $size * 5px;
        }
        .#{$propertyShort}x-#{$size * 5} {
          #{$property}-left: $size * 5px;
          #{$property}-right: $size * 5px;
        }
        .#{$propertyShort}y-#{$size * 5} {
          #{$property}-top: $size * 5px;
          #{$property}-bottom: $size * 5px;
        }
        @each $side, $sideShort in $sides {
          .#{$propertyShort}#{$sideShort}-#{$size * 5} {
            #{$property}-#{$side}: $size * 5px;
          }
        }
      }
    }
  }
}

@include generateUtilClasses;

.sr-only,
%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
